# This is a sample .gitignore file for a Node.js project.
!.env.example

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json # optional: ignore if you use Yarn or don't want lockfile noise

# Logs
logs/
*.log

# Build outputs
dist/
build/

# Docker
*.env
.env.*
.dockerignore
docker-compose.override.yml

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Frontend
*.cache
.next/
.svelte-kit/
*.tsbuildinfo

# Test coverage
coverage/

# CI/CD
*.swp
.nyc_output/
